{% extends 'base.html.twig' %}

{% block title %}Créer une option{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% include ('admin/option/_form.html.twig') %}
    </div>
{% endblock %}